.technics {
	margin: 0;
	width: 100%;
}

.technics__main {
	background-color: #F8F8F8;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: TTLakes-Regular;
}

.technics__list {
	display: flex;
}


.technics__item {
	min-width: 240px;
	min-height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	background-color: $whiteColor;
}

.technics__button {
	background: url(../img/go.svg) no-repeat center;
	width: 40px;
	height: 40px;
	border: none;
	margin-left: auto;
	margin-right: 16px;
	margin-bottom: 16px;
	cursor: pointer;
    align-self: flex-end;
    transition: transform linear 0.3s;
}

.technics__button:hover {
  transform: scale(1.2) rotate(360deg);
  opacity: 0.8;   
}

.technics__header {
    font-family: TTLakes-Regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #7E7E82;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 56px;
    background: linear-gradient(to right, #F8F8F8 1.39%, #ffffff 100%);
    padding-top: 16px; 
    padding-bottom: 16px;
}

.technics__read-more {
	border: none;
	background-color: inherit;
	font-family: TTLakes-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin: 24px auto 34px 32px;
	cursor: pointer;
}

.technics__read-more:hover {
	transform: scale(1.1);
}

.icon-up::before {
	content: url(../img/icon.svg);
	vertical-align: middle;
  	margin-right: 16px;
  	margin-left: 8px;
}

.icon-down::before {
	content: url(../img/iconup.svg);
	vertical-align: middle;
  	margin-right: 16px;
  	margin-left: 8px;
}

.technics__container {
	overflow: hidden;
}

.technics__item span {
	align-self: flex-start;
	margin-top: 16px;
	margin-left: 16px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

@media screen and (max-width: 767px) {
    .technics__list {
  	    justify-content: space-around; 
  	    flex-wrap: nowrap;
   	    align-items: center;
    }

	.card {
		flex-shrink: 1;
	    box-sizing: border-box;
	    margin-bottom: 52px;
	    margin-top: 16px;
	}

	  
	.technics__header {
	  	padding-left: 16px;
	}

	.technics__read-more {
	  	display: none;
	}

	.technics__container .swiper-wrapper {
		justify-content: flex-start;
		flex-wrap: nowrap;
	}

	.technics__main .technics__container {
		margin-left: 16px;
		margin-right: 0px;
	}

	.swiper-pagination--technics {
		top: 190px;
	}

}

@media screen and (min-width: 768px) and (max-width: 1119px) {
	.technics__list {
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-right: 16px;
	}

	.technics__container .technics__list--hidden {
		height: 180px;
		overflow: hidden;
	}

	.technics__item {
  		margin: 16px 0 0 16px;
  	}

    .technics__header {
  		padding-left: 24px;
    }

    .technics__main .technics__container {
		margin-right: 16px;
	}
}

@media screen and (min-width: 1120px) {

	.technics__main .technics__container {
		max-width: 1120px;
		margin-right: auto;
		margin-top: auto;
	}

	.technics__list {
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-right: 16px;
	}

	.technics__item {
  		margin: 16px 8px 0 8px;
  	}

    .technics__header {
  		padding-left: 32px;
    }

    .technics__container .technics__list--hidden {
		height: 180px;
		overflow: hidden;
	}
}