.call {
  box-shadow: $boxShadow;
  height: 100%;
  position: absolute;
  top: 0px;
  right: -500px;
  width: 100%;
  max-width: 440px;
  z-index: 10;
  background: $whiteColor;
  font-family: TTLakes-Regular;
  transition: all linear 10s;
}

.call__container {
  display: flex;
  flex-direction: column;
}

.call__input--tel {
  height: 48px;
}

.call__input {
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  font-family: TTLakes-Regular;
}

.call__header::before {
  content: url(../img/highlight.svg);
  vertical-align: middle;
  margin-right: 30px;
}

.call__important-text {
  color: #FF3E79;
}

.call__submit {
  background: url(../img/submit.svg) no-repeat center;
  width: 136px;
  height: 32px;
  margin: 15px 32px auto auto;
  border: none;
}

.call__submit:hover {
  transform: scale(1.2);
  opacity: 0.8;   
  cursor: pointer;
}

.call__button {
  background-image: url('../img/close.svg');
  background-repeat: no-repeat;
  margin-left: 16px;
  margin-top: 16px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.call__button:hover {
  transform: scale(1.2);
  opacity: 0.8;   
  cursor: pointer;
}

@media screen and (max-width: 767px) {

  .call__input,
  .call__text {
    margin: 8px 16px 8px 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  

  .call__input,
  .call__text {
    margin: 8px 32px 8px 32px;
  }
}

@media screen and (min-width: 1120px) {

  .call__button {
    position: absolute;
    top: 5px;
    left: -70px;
  }

  .call__input,
  .call__text {
    margin: 8px 32px 8px 32px;
  }
}