.title__heading {
  font-family: TTLakes-Bold;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.header__menu {
	justify-content: space-around;
	align-items: center;
	height: 88px;
	background-color: $whiteColor;
	border-bottom: $borderBlock;
}

.title {
	display: flex;
  width: 100%;
	background-color: $backgroundColor;
  align-items: center;
}

.header__menu button {
	border: none;
	background-color: $whiteColor;
}

.title button {
	border: none;
	background-color:$backgroundColor;
	cursor: pointer;
}

.header__logo {
	margin-right: auto;
	margin-left: 8px;
}

.header__button,
.header__logo-divider,
.header__setting-divider {
	margin-left: 4px;
	margin-right: 4px;
}

.header__button:first-of-type {
  margin-left: 24px; 
}

.header__button:last-of-type {
	margin-right: 24px;
}

.title__menu {
	margin-left: auto;
	align-items: center;
	font-family: TTLakes-Bold;
	
	margin-right: 32px;
}

.title__link {
	color:#1B1C21;
	text-decoration: none;
	font-family: 'TTLakes-Regular';
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: center;
}

.title__link:hover {
	transform: scale(1.1);
}

.title__button {
	margin-left: 10px;
}

.title__button:first-of-type {
	margin-right: 32px;
}

.title::before {
	content: url(../img/highlight.svg);
	vertical-align: middle;
}

@media screen and (max-width: 767px) {
	.header__button_contacts {
	  display: none;
	}

	.header__logo-divider {
	 	display: none;
	}

	.title__menu {
	  display: none;
	}

	.title__heading {
	  padding-left: 12px;
	}

	.header__menu {
	  display: flex;
	}

	.title {
	  padding-top: 24px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
	.title__menu {
	  display: none;
	}

	.title__heading {
	  padding-left: 20px;
	}

	.header__menu {
	  display: flex;
	}

	.title {
	  padding-top: 24px;
	}
}

@media screen and (min-width: 1120px) {
	.header__menu {
    display: none;
  }

  .title__heading {
	  padding-left: 32px;
	}

	.title {
	  padding-top: 42px;
	}

	.title__menu {
	  display: flex;
	}
}